{% extends 'memoria/dashboard_base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
    .abs-center {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40vh;
    }
    
    .mi_input {
        border: 1px solid #red;
    }

    .form-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-fields {
        width: 100%%;
    }

    .avatar-container {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: center;        
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px
    }

    .avatar-preview {
        width: 150px;
        height: 150px;
        border: 2px dashed #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .avatar-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #avatar-input {
        display: none;
    }

</style>

<script>
    function previewAvatar(event) {
        var input = event.target;
        var reader = new FileReader();
      
        reader.onload = function(){
            var avatarImage = document.getElementById('avatar-image');
            avatarImage.src = reader.result;

            var pictureInput = document.getElementById('avatar-picture-input');
            pictureInput.value = reader.result;
        };
      
        reader.readAsDataURL(input.files[0]);
    }
  
    function openAvatarUpload(event) {
        var avatarInput = document.getElementById('avatar-input');
        avatarInput.click();
    }
</script>


<h1>Registro de familiares</h1>
<div class="container">
    
    <div class="abs-center">
        
        <div class="form-container">
            <div class="form-fields">
                <form method="post" class="formFamiliar" >
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.names.label_tag }}
                        {{ form.names }}
                    </div>
                    <div class="form-group">
                        {{ form.lastnames.label_tag }}
                        {{ form.lastnames }}
                    </div>
                    <div class="form-group">
                        {{ form.date_of_birth.label_tag }}
                        {{ form.date_of_birth }}
                    </div>
                    <div class="form-group">
                        {{ form.date_of_death.label_tag }}
                        {{ form.date_of_death }}
                    </div>
                    <div class="form-group">
                        {{ form.relationship.label_tag }}
                        {{ form.relationship }}
                    </div>
                    <div class="form-group">
                        {{ form.nationality.label_tag }}
                        {{ form.nationality }}
                    </div>
                    <div class="form-group">
                        {{ form.user_id }}
                        <input type="hidden">                      
                    </div>

                    <input type="hidden" id="avatar-picture-input" name="avatar_picture">

                    </br>
                    <button type="submit" class="btn btn-primary">Registrar familiar</button>
                </form>
            </div>
            <div class="avatar-container">
                <div id="avatar-preview" class="avatar-preview" onclick="openAvatarUpload(event)">
                    <img id="avatar-image" class="avatar-image" src="{% static 'img/usersilhouette.png' %}" alt="Silhouette">
                </div>
                <input type="file" id="avatar-input" accept="image/*" onchange="previewAvatar(event)">
            </div>
        </div>
    </div>
</div>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% endblock %}