{% extends 'memoria/dashboard_base.html' %} 

{% load static %}

{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Panel de administración</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Menú de familiares e interacciones</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="video-wrapper">
                            <video id="video1" src="static/img/familiar1c.mp4" autoplay loop muted></video>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            Juan Pablo Morales Pérez
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="video-wrapper">
                            <video id="video2" src="static/img/familiar2c.mp4" autoplay loop muted></video>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            Agustín Andrés Morales Pérez
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="video-wrapper">
                            <video id="video3" src="static/img/familiar3c.mp4" autoplay loop muted></video>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            Carlos Eduardo Morales González
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="video-wrapper">
                            <video id="video4" src="static/img/familiar4c.mp4" autoplay loop muted></video>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            Sofía Antonia López Pérez
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Interacciones totales en los últimos 15 días
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Interacciones totales en los últimos 6 meses
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Familiares registrados
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Parentezco</th>                                        
                                <th>Edad</th>
                                <th>Fecha de fallecimiento</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Parentezco</th>                                        
                                <th>Edad</th>
                                <th>Fecha de fallecimiento</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Juan Pablo Morales Pérez</td>
                                <td>Abuelo</td>
                                <td>82</td>
                                <td>1941/04/25</td>
                            </tr>
                            <tr>
                                <td>Agustín Andrés Morales Pérez</td>
                                <td>Padre</td>
                                <td>61</td>
                                <td>1962/02/25</td>
                            </tr>
                            <tr>
                                <td>Carlos Eduardo Morales González</td>
                                <td>Tío</td>
                                <td>66</td>
                                <td>1957/01/12</td>
                            </tr>
                            <tr>
                                <td>Sofía Antonia López Pérez</td>
                                <td>Tía</td>
                                <td>44</td>
                                <td>1979/03/29</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
