{% extends 'memoria/dashboard_base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
    .abs-center {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40vh;
    }
    
    .mi_input {
        border: 1px solid #red;
    }

    .form-container {
        position: relative;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .form-fields {
        width: 100%%;
    }

    .avatar-container {
        position: center;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: px;
        z-index: 1;
    }

    .avatar-preview {
        width: 150px;
        height: 150px;
        border: 2px dashed #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .avatar-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #avatar-input {
        display: none;
    }

    body {
        background-image: url("{% static 'img/cloudsbackground.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>

<script>
    function previewAvatar(event) {
        var input = event.target;
        var reader = new FileReader();
      
        reader.onload = function(){
            var avatarImage = document.getElementById('avatar-image');
            avatarImage.src = reader.result;

            var pictureInput = document.getElementById('avatar-picture-input');
            pictureInput.value = reader.result;
        };
      
        reader.readAsDataURL(input.files[0]);
    }
  
    function openAvatarUpload(event) {
        var avatarInput = document.getElementById('avatar-input');
        avatarInput.click();
    }
</script>


<h1>Registro de familiares</h1>
<div class="container">
    <div class="abs-center">
        <div class="form-container">
            <div class="avatar-container">
                <div id="avatar-preview" class="avatar-preview" onclick="openAvatarUpload(event)">
                    <img id="avatar-image" class="avatar-image" src="{% static 'img/usersilhouette.png' %}" alt="Silhouette">
                </div>
                <input type="file" id="avatar-input" accept="image/*" onchange="previewAvatar(event)">
            </div>
            <div class="form-fields">
                <form method="post" class="formFamiliar" >
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="{{ form.names.id_for_label }}" class="form-label">{{ form.names.label }}</label>
                        {{ form.names }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.lastnames.id_for_label }}" class="form-label">{{ form.lastnames.label }}</label>
                        {{ form.lastnames }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.date_of_birth.id_for_label }}" class="form-label">{{ form.date_of_birth.label }}</label>
                        {{ form.date_of_birth }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.date_of_death.id_for_label }}" class="form-label">{{ form.date_of_death.label }}</label>
                        {{ form.date_of_death }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.relationship.id_for_label }}" class="form-label">{{ form.relationship.label }}</label>
                        {{ form.relationship }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.nationality.id_for_label }}" class="form-label">{{ form.nationality.label }}</label>
                        {{ form.nationality }}
                    </div>
                    <div class="form-group">
                        {{ form.user_id }}
                        <input type="hidden">                      
                    </div>

                    <input type="hidden" id="avatar-picture-input" name="avatar_picture">

                    <br>
                    <button type="submit" class="btn btn-primary">Registrar familiar</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% endblock %}
