{% extends 'memoria/dashboard_base.html' %} 
{% load mathfilters %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .abs-center {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40vh;
      }
      
    .mi_input{
        border:1px solid #red;
    }

</style>

<div class="container">


    <h2>Seleccione Suscripcion</h2>
    <form method="post">
      {% csrf_token %}
      {% crispy form %}
    </form>


<hr>
    <h2>Esta es la suscripcion seleccionada.</h2>


    {% if planes_asociados %}
    <ul>
      {% for suscripcion in planes_asociados %}
        <li>
          Plan: {{ suscripcion.id_plan.nombre }}
        </li>
        <li>
          Descripción: {{ suscripcion.id_plan.descripcion|safe }}
        </li> 

        <li>
          Valor: ${{ suscripcion.id_plan.valor_factor|mul:uf|floatformat:0 }} 
        </li>                 
        {% if suscripcion.estado == 0 %}
        <br>
        <script src="https://www.mercadopago.cl/integrations/v1/web-payment-checkout.js"
        data-preference-id="{{ suscripcion.id_plan.link_pago }}" data-source="button">
        </script>
      {% else %}

<h1>Pago realizado con exito</h1>.
        
      {% endif %}              
      {% endfor %}
    </ul>
  {% else %}
    <p>No tienes suscripciones.</p>
  {% endif %}
</div>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% endblock %}