{% extends 'memoria/index.html' %} 

{% load static %}

{% block content %}

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-10 mx-auto">
            <h1 class="fw-light">Panel de Control del Cliente</h1>
            <p class="lead text-body-secondary">Nuestra empresa se dedic y apoyo a las familias en momentos difíciles.</p>
            <p>

                <h1>Valores:</h1>
                <ul>
                    <li>Dólar: {{ dolar }}</li>
                    <li>UF: {{ uf }}</li>
                    <li>Bitcoin: {{ bitcoin }}</li>
                </ul>
            </p>
          </div>
        </div>


{% endblock %}
