{% extends 'memoria/index.html' %} 

{% load static %}

{% block content %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                class=""></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item" data-bs-interval="3000">
                <img class="bd-placeholder-img" width="100%" src="{% static 'img/bann1.png' %}" aria-hidden="true"
                    focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
            </div>
            <div class="carousel-item active " data-bs-interval="3000">
                <img class="bd-placeholder-img" width="100%" src="{% static 'img/bann2.png' %}" aria-hidden="true"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="bd-placeholder-img" width="100%" src="{% static 'img/bann3.png' %}" aria-hidden="true"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-10 mx-auto">
            <h1 class="fw-light">Un homenaje para quienes ya partieron</h1>
            <p class="lead text-body-secondary">Nuestra empresa se dedica a honrar y preservar los recuerdos de tus seres queridos a través de memorias virtuales. Utilizamos la inteligencia artificial para recrear digitalmente a la persona fallecida, permitiendo a la familia y amigos interactuar con su legado de una manera única. Nuestro servicio ofrece una plataforma en línea donde los usuarios pueden crear un memorial virtual personalizado, compartiendo fotos, videos, historias y recuerdos especiales. Ofrecemos un espacio virtual seguro y conmovedor para recordar y mantener viva la memoria de aquellos que han partido. Nos enorgullece brindar una forma innovadora y emocionalmente significativa de mantener vivo el legado de los seres queridos, ofreciendo consuelo y apoyo a las familias en momentos difíciles.</p>
            <p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalSaberMas">
                Saber más
              </button>
              
              <a href="contacto.html" class="btn btn-secondary my-2">Contactese con nosotros</a>


            </p>
          </div>
        </div>
                    <!-- Modal Saber mas-->
                    <div class="modal fade" id="modalSaberMas" tabindex="-1" aria-labelledby="modalSaberMas" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Saber más</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <iframe width="500" height="500" src="https://www.youtube.com/embed/3bmzyliYcfY" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope" allowfullscreen></iframe>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>

{% endblock %}
