{% extends 'memoria/index.html' %} 
{% load mathfilters %}
{% load humanize %}
{% block content %}


  <div class="container">
    <h1 class="text-center">Estos son nuestros planes</h1>
    <p class="text-center"> Brindemos un conmemorativo homenajEstado: {{ suscripcion.estado }}e a quienes ya partieron</p>
    <div class="row mt-5 d-flex align-items-stretch">

      {% for c in planes %} 
      <div class="col-md-4">
        <div class="card">
          <div>
            <h5 class="card-title">{{c.nombre}}</h5>
            <ul class="list-unstyled">
              <div class="card-body" style="height:200px; border:1px solid #black">
                {{c.descripcion|safe}}
              </div>
            </ul>
            <p class="text-center">
            {{ c.valor_factor }} UF (${{uf|mul:c.valor_factor|floatformat:0|intcomma }})<br>
            USD {{ uf|div:dolar|mul:c.valor_factor|floatformat:0 }}<br>
            BTC {{  bitcoin|div:uf|div:dolar|mul:c.valor_factor|floatformat:5 }}<br>
            <a href="{% url 'dashboard_suscripcion' %}" class="btn btn-primary btn-block btn-seleccionar">Seleccionar</a>
            </p>            
          </div>
        </div>
      </div>   
      
      
      {% endfor %}




    <script>
      window.addEventListener('load', function () {
        // Get all the divs with the class "card"
        var divs = document.querySelectorAll('.card');

        // Find the div with the maximum height
        var maxHeight = 0;
        for (var i = 0; i < divs.length; i++) {
          var height = divs[i].clientHeight;
          if (height > maxHeight) {
            maxHeight = height;
          }
        }

        // Set the height of all the divs to the maximum height
        for (var i = 0; i < divs.length; i++) {
          divs[i].style.height = maxHeight + 'px';
          divs[i].querySelector('.card-body').style.height = '100%';
        }
      });


    </script>

    <p class="text-center mt-5">Regístrate hoy mismo y honra a tus seres queridos de una manera única y
      significativa con memorIA.</p>
  </div>


    <hr class="featurette-divider" style="margin-top: 100px;">

{% endblock %}