*{

    box-sizing: border-box;
}

.galeria{
    font-family: 'open sans';
}

.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #0077c0;
    margin-bottom: 30px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid white;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 10px;

}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 4px;
}